<h1 class="name"><%= @event.name %></h1>
<p class="date">Date: <%= @event.date || "None" %></p>
<p class="location">Location: <%= @event.location %></p>

<% if current_user == @event.creator %>
  <div class="creator-controls">
    <span class="edit-link">
      <%= link_to "Edit", edit_event_path(@event) %>
    </span>
    <span class="delete-link">
      <%= link_to "Delete", @event, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </span>
  </div>
<% end %>

<h4 class="attendees-heading">Event Attendees: </h4>
<ul class="attendees">
  <% @event.attendees.each do |attendee| %>
    <li class="attendee">
      <p class="attendee-name"><%= attendee.username %></p>
    </li>
  <% end %>
</ul>
<% if @event.attendees.include?(current_user) %>
  <span> <%= link_to 'Unenroll', [@event, :unenroll], data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to unenroll?' } %> </span>
<% else %>
  <span> <%= link_to 'Enroll', [@event, :enroll], data: { turbo_method: :post } %> </span>
<% end %>  