<h1 class="name"><%= @event.name %></h1>
<p class="date">Date: <%= @event.date || "None" %></p>
<p class="location">Location: <%= @event.location %></p>

<h4 class="attendees-heading">Event Attendees: </h4>
<ul class="attendees">
  <% @event.attendees.each do |attendee| %>
    <li class="attendee">
      <p class="attendee-name"><%= attendee.username %></p>
      <span> <%= link_to 'Enroll', [@event, :enroll] %> </span>
    </li>
  <% end %>
</ul>